@font-face{
  font-family: medieval;
  src: url(MedievalSharp-Regular.ttf);
}
body{
  padding: 0;
  margin: 0; 
  background-color: bisque; 
}
.wrapp{
  width: 100%;
  max-width: 1349px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3 , auto);

  grid-template-areas: "header header header header"
  "main main main main"
  "footer footer footer footer"
  ;
}
header{
  grid-area: header;
}
.top{
  display: flex;
  position: fixed;
  background-color: black;
  width: 100%;
  top: 0;
  padding: 15px;
  height: 30px;
  left: 0;
  opacity: 0.85;
  z-index: 9;
}
.title{
  display: block;
  top: 0;
  width: 25%
}
.top h1{
  margin: 0;
  padding: 0;
  font-family: medieval;
}
.top .title a{
text-decoration: none;
  color: wheat;
}
.top .title a:hover{
  color: rgb(250, 239, 218);
}
.top nav{
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.menu{
  display: flex;
  margin: 0;
}
.menu li{
  margin: 5px 20px 0 20px;
}
.menu li a{
  text-decoration: none;
  color: wheat;
  font-size: 1.6rem;
  font-family: medieval;
}
.menu li a:hover{
  padding-top: 16px ;
  padding-bottom: 9px;
  border-bottom: solid wheat 3px;
  border-top: solid wheat 3px;
}
.special{
  margin: 3px;
  list-style: none;
  padding: 0;
}
.special a{
  text-decoration: none;
  font-size: 1.7rem;
  font-family: medieval;
  color: black;
  padding: 0;
  background-color: #D28140;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}
.special a:hover{
  background-color: #d28240be;
  color: wheat;
}
main{
  grid-area: main;
}
.presentation{
  padding: 280px 20px 20px 20px;
  background-image: url(images/background_ldp.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.presentation h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  left: 0;
  width: 900px;
  color: #EEEEEE;
  letter-spacing: 2px;
}
.presentation .sub{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
  width: 800px;
  color: wheat;
}
.btn-pr li{
  list-style: none;
  padding: 0;
  margin: 20px 20px 20px 0;
  display: inline-block;
}
.btn-pr a{
  text-decoration: none;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.637);
  border-radius: 5px;
  opacity: 0.85;
  color: wheat;
  font-family: medieval;
  font-size: 1.4rem;
  border: 2px solid goldenrod;
}
.btn-pr a:hover{
  background-color: rgb(0, 0, 0);
}
.recentnws{
  margin-top: 150px;
}
.titlesub{
  display: flex;
}
.titlesub h3{
  color: wheat;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
}
.titlesub p{
  margin: 25px 0 0 30px ;
}
.titlesub a{
  text-decoration: none;
  color: goldenrod;
}
.titlesub a:hover{
  text-decoration: underline goldenrod;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 50px;
}
.card{
  margin: 0 10px 0 10px;
  border: gray solid 2px;
  position: relative;
  width: 300px;
  height: 180px;
}
.card img{
  width: 300px;
  height: 180px;
}
.card p{
  bottom: 30px;
  position: absolute;
  color: black;
}
.card h4{
  bottom: 0;
  position: absolute;
  color: goldenrod;
}
.card:hover{
  border: goldenrod solid 2px;
}
.card h4:hover{
  color: white;
}
.faction{
  display: grid;
  grid-template-columns: 40% 20% 40%;
  padding: 0px 100px 50px 100px;
  background-color: bisque;
}
.faction h2{
  text-align: center;
  font-family: medieval;
  top: 0;
  font-size: 3rem;
  color: black;
}
.faction h4{
  font-family: medieval;
  color: wheat;
  font-size: 2rem;
  text-align: center;
}
.faction p{
  text-align: justify;
}
.faction li{
  list-style: none;
  margin-top: 40px;
  text-align: center;
}
.faction a{
  text-decoration: none;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.637);    border-radius: 5px;
  opacity: 0.85;
  color: wheat;
  font-family: medieval;
  font-size: 1.4rem;
  border: 2px solid goldenrod;
  }
  .faction a:hover{
  background-color: rgb(0, 0, 0);
  }
.factionleft{
  padding: 100px;
  background-color: rebeccapurple;
}
.factionright{
  padding: 100px;
  background-color: orange;
}
.friendly{
  padding: 10px 100px 100px 100px;
  background-color: brown;
  text-align: left;
  margin: 2px 0 2px 0;
  border: rgb(109, 109, 109) 1px solid;
  border-right: none;
  border-left: none;
  display: grid;
  grid-template-columns: 75% 25%;
}
.friendly h2{
  font-size: 2.7rem;
  color: #EEEEEE;
}
.friendly p{
  text-align: left;
}
.friendly li{
  list-style: none;
  margin-top: 40px;
  text-align: left;
}
.friendly a{
  text-decoration: none;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.637);
  border-radius: 5px;
  opacity: 0.85;
  color: wheat;
  font-family: medieval;
  font-size: 1.4rem;
  border: 2px solid goldenrod;
}
.friendly a:hover{
  background-color: rgb(0, 0, 0);
}
.vip{
  padding: 10px 100px 100px 100px;
  background-color: brown;
  text-align: right;
  margin: 0px 0 2px 0;
  border: rgb(109, 109, 109) 1px solid;
  border-right: none;
  border-left: none;
  display: grid;
  grid-template-columns: 25% 75%;
}
.vip h2{
  font-size: 2.7rem;
  color: #EEEEEE;
}
.vip p{
  text-align: right;
}
.vip li{
  list-style: none;
  margin-top: 40px;
  text-align: right;
}
.vip a{
  text-decoration: none;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.637);
  border-radius: 5px;
  opacity: 0.85;
  color: wheat;
  font-family: medieval;
  font-size: 1.4rem;
  border: 2px solid goldenrod;
}
.vip a:hover{
  background-color: rgb(0, 0, 0);
}
footer{
  grid-area: footer;
}
.rrss{
  display: flex;
  margin: 2px 0 2px 0;
  background-color: rgba(0, 0, 0, 0.637);
  justify-content: center;
  padding: 20px;
}
.rrss h6{
  color: #EEEEEE;
  font-size: 1.6rem;
  margin: 10px 30px 0 0;
}
.rrss a{
  padding: 8px 16px 8px 16px;
  color: goldenrod;
}
.rrss a:hover{
  color: white;
}
.rrss i{
  font-size: 30px;
}
.politics{
  background-color: white;
  display: grid;
}
.politics ul{
  display: flex;
  justify-content: center;
}
.politics li{
  list-style: none;
  margin: 20px;
  display: inline-flex;
  justify-content: center;
  text-align: center;
}
.politics a{
  text-decoration: none;
  border-right: black 2px solid;
  padding-right: 30px;
  color: #D28140;
}
.politics a:hover{
  color: #6b411f;
}
.politics a.desactive{
  border-right: none;
}
.politics p{
  display: block;
  text-align: center;
  width: 700px;
  margin: auto;
  color: grey;
}
.politics img{
  display: block;
  height: 250px;
  margin: auto;
  text-align: center;
}
@media (max-width: 1024px){
  .wrapp{
    width: 1024px;
    margin: auto;
  }
  .top{
    width: 1024px;
    display: flex;
    padding: 20px 0 20px 0;
  }
  .title{
    text-align: center;
  }
  .grid{
    grid-template-columns: 1fr 1fr;
  }
  .card{
    width: 470px;
  }
  .card a img{
    width: 470px;
  }
  .faction{
    padding: 0 0 100px 0;
  }
  .factionleft{
    padding: 100px 50px 30px 50px;
  }
  .factionright{
    padding: 100px 50px 30px 50px;
  }

@media (max-width: 768px){
  .wrapp{
    width: 768px;
    margin: auto;
  }
  .top{
    width: 100%;
    display: block;
    padding: 20px 0 20px 0;
    height: 4%;
  }
  .top h1{
    font-size: 3rem;
  }
  .title{
    width: 100%;
    text-align: center;
  }
  .top nav{
    visibility: hidden;
  }
  .menu{
    visibility: hidden;
  }
  .presentation{
    text-align: center;
    width: 100%;
    padding: 280px 0 20px 0;
  }
  .presentation h1{
    font-size: 6.3rem;
    width: 100%;
  }
  .presentation .sub{
    text-align: center;
    width: 100%;
    font-size: 2.2rem;
    margin-bottom: 50px;
  }
  .btn-pr li{
    display: block;
    margin-top: 80px;
  }
  .btn-pr a{
    font-size: 2.7rem;
    padding: 30px;
  }
  .titlesub{
    justify-content: space-around;
  }
  .titlesub h3{
    font-size: 2rem;
    text-align: left;
    margin-left: 20px;
  }
  .titlesub p{
    font-size: 1.5rem;
    text-align: left;
    padding: 20px;
  }
  .grid{
    display: inline-block;
    grid-template-columns: 100%;
    width: 100%;
  }
  .grid_full{
    padding: 10px;
  }
  .card{
    margin-top: 10px;
    width: 720px;
    height: 420px;
  }
  .card img{
    width: 720px;
    height: 420px;
  }
  .card p{
    font-size: 2rem;
    bottom: 60px;
    left: 35px;
  }
  .card h4{
    font-size: 3rem;
    left: 35px;
    bottom: 40px;
    margin: 0;
  }
  .faction{
    grid-template-columns: 100%;
    padding: 0;
  }
  .faction h2{
    font-size: 4rem;
  }
  .faction h4{
    font-size: 4rem;
  }
  .faction p{
    font-size: 1.9rem;
  }
  .faction li{
    margin-top: 60px;
  }
  .faction a{
    font-size: 2.3rem;
  }
  .friendly{
    padding: 30px;
  }
  .friendly h2{
    font-size: 3rem;
  }
  .friendly p{
    font-size: 1.8rem;
  }
  .friendly a{
    font-size: 2rem;
  }
  .vip{
    padding: 30px;
  }
  .vip h2{
    font-size: 3rem;
  }
  .vip p{
    font-size: 1.8rem;
  }
  .vip a{
    font-size: 2rem;
  }
  .rrss{
    display: block;
    padding: 80px 30px 80px 30px;
    text-align: center;
  }
  .rrss h6{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }
  .rrss i{
    font-size: 4rem;
    margin-top: 10px;
    align-items: center;
  }
  .rrss a{
    padding: 40px;
  }
  .politics ul{
    font-size: 2rem;
  }
  .politics p{
    font-size: 1.5rem;
    padding: 10px;
  }
  .politics img{
    width: 100%;
    height: auto;
  }
}
